html
{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
}
body
{
	/*background-color: lightblue;*/
	/*background: linear-gradient(135deg, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);*/
	/*background: linear-gradient(135deg, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);*/
	/*background: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);*/
	top: 0;
	padding: 0;
	margin: 0;
}
.wrapper
{
	/*background: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
*/
	background: linear-gradient(to bottom right, #3F899D 0%, #53e3a6 100%);		height: 100%;
	width: 100%;
	position: fixed;

	/*overflow-y: scroll;*/


}
.header
{
	/*background: lightblue;*/
	text-align: center;
	/*color: black;*/
	/*background: black;*/
	padding-bottom: 10px;
}
.tabs
{
	width: 650px;
	margin: auto;
	/*border: 1px solid blue;*/
}
.menu
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	/*border: 1px solid black;*/
}
.menu > li
{
	display: inline-block;
	/*float: left;*/
	width: 150px;
	height: 30px;
	border: 1px solid white;
	padding-top: 15px;
}
.menu > li:hover
{
	background: lightblue;
	cursor: pointer;
}
.selected
{
	background: white;
	color: black;
}
.container
{
	text-align: center;
}
.content
{
	display: none;
	height: 800px;
	width: 800px;
	margin: auto;
/*	border: 1px solid black;*/
}
.cs
{
	display: block;
}
.accordion-head
{
	border: 1px solid white;
	/*padding-bottom: 0;*/
	margin-top: 0;
	margin-bottom: 0;
	cursor: pointer;
}
.accordion-div > div
{
	display:none;
}
.accordion-head
{
	width: 200px;
	margin: auto;
}
.accordion-content
{
	margin-top: 0;
	/*margin-bottom: 0;*/
	/*padding-top: 0;*/
	/*padding-bottom: 0;*/
	/*border: 1px solid green;*/
}
.accordion-content > img
{
	height: 500px;
	width: 600px;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  /*background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);*/
  opacity: .25;
  background-color: #ffffff;
  /*background-color: rgba(255, 255, 255, 0.15);*/
  bottom: -160px;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
  border-radius: 20px;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  border-radius: 20px;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  animation-duration: 22s;
 /* background-color: rgba(255, 255, 255, 0.25);*/
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
  border-radius: 20px;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  animation-delay: 3s;
  /*background-color: rgba(255, 255, 255, 0.2);*/
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  border-radius: 160px;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
 /* background-color: rgba(255, 255, 255, 0.3);*/
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  border-radius: 160px;
  animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
